body {
  background-color: rgb(143, 188, 143, 0.4) !important;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Train One", cursive;
  font-size: 60px !important;
  padding: 50px;
  text-align: center;
}
h2 {
  font-family: "Train One", cursive;
  font-size: 50px !important;
  text-align: center;
}
footer {
  text-align: center;
  font-size: 12px;
  margin-top: 150px;
}
.active,
.nav-link:hover {
  color: rgb(143, 188, 143) !important;
}

.about-paragraph {
  text-align: center;
}
.coding-icon {
  width: 40px;
}

.email,
.linkedin {
  font-size: 16px;
  text-align: center;
  padding: 20px;
}
.profile-picture {
  width: 350px;
}
