body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Train One", cursive;
  text-align: center;
}
.contact-button {
  background: darkseagreen;
  display: block;
  margin: 0 auto;
}
.contact-info {
    text-align: center;
}
